---
import '../styles/global.css';

interface Props {
  title?: string;
}
const { title = 'sev' } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href={`${import.meta.env.BASE_URL}favicon.svg`} />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta property="og:title" content={title} />
    <meta property="og:image" content={`${import.meta.env.SITE}${import.meta.env.BASE_URL}banner.png`} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={`${import.meta.env.SITE}${import.meta.env.BASE_URL}`} />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:image" content={`${import.meta.env.SITE}${import.meta.env.BASE_URL}banner.png`} />
  </head>
  <body class="min-h-screen font-sans antialiased">
    <slot />
  </body>
</html>
